.signing{
    position: relative;
    background: #fff;
    width: 100%;
    
    .signForm{
        width: 80%;
        margin: auto;
        display: flex;
        padding-top: 50px;
        justify-content: space-between;
        flex-wrap: wrap;
        .ivu-form-item {
            width: 50%;
        }
    
    }
}